name: pypi-publish

on:
  release:
    types:
      - published

jobs:
  pypi-publish:
    name: Publish new release
    runs-on: ubuntu-latest
    permissions:
      # This permission is needed for private repositories.
      contents: read
      # IMPORTANT: this permission is mandatory for trusted publishing
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install UV
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Sync
        run: uv sync

      - name: Build
        run: uv build

      - name: Upload
        uses: pypa/gh-action-pypi-publish@release/v1
