name: test_py_version
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  uv-example:
    name: python
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.12"
          - "3.13"
          - "3.14"

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: runs tests
        run: uv run --python ${{ matrix.python-version }} pytest
